.product-carousel-container .product-carousel-wrapper {
  max-width: none;
}

.product-carousel {
  min-height: 330px;
  position: relative;
}

.products-slider-wrapper {
  margin: 0 auto;
  max-width: 1180px;
}

.products-slider-wrapper h2 {
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-m);
  letter-spacing: 0;
  margin: 0 0 16px;
}

.products-slider-wrapper > * {
  padding-bottom: 24px;
}

.products-slider-content {
  padding-top: 16px;
}

.products-slider {
  display: grid;
  grid-auto-columns: 50%;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 0 0 16px;
  scroll-snap-type: x mandatory;
}

.products-slider.product-carousel-flickity {
  display: block;
  overflow: visible;
  padding: 0 24px 16px;
}

.product-slider-item {
  background-image: radial-gradient(circle at 50% 52%, rgb(0 0 0 / 2%), rgb(0 0 0 / 6%));
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  box-sizing: border-box;
  color: inherit;
  height: auto;
  min-height: 100%;
  scroll-snap-align: start;
  text-decoration: none;
  width: 50%;
}

.product-slider-item:hover {
  color: inherit;
  text-decoration: none;
}

.products-slider:not(.product-carousel-flickity) .product-slider-item {
  width: auto;
}

.product-info-wrapper {
  border-top: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.product-image {
  display: flex;
  height: 181px;
  margin: 24px 16px 16px;
  max-width: 100%;
  mix-blend-mode: multiply;
  transition: transform 0.1s linear;
  width: calc(100% - 32px);
}

.product-image img {
  display: block;
  height: 100%;
  margin: auto;
  max-height: 172px;
  object-fit: contain;
  transition: transform 0.4s;
  width: 100%;
}

.product-info-content {
  background: transparent;
  box-sizing: border-box;
  color: #fff;
  padding: 0;
  position: relative;
  white-space: normal;
  width: 100%;
}

.brand-name {
  color: #282828;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  line-height: 16px;
  margin: 0 16px 4px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

.product-compact-name {
  box-sizing: border-box;
  color: #787878;
  display: -webkit-box;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  line-height: 15px;
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.blur-element {
  z-index: 1;
}

.price-info {
  background: transparent;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  margin: 0 0 16px;
  position: relative;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.price-container {
  color: #000;
  font-weight: 600;
}

.price-line {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 12px 3px;
}

.final-price {
  font-size: 16px;
  font-weight: 600;
  margin: 0 4px;
}

.price-discounted {
  color: #d71920;
}

.price-original {
  text-align: center;
}

.price-original.old-price {
  color: #787878;
  font-size: 13px;
  font-weight: 400;
  margin: 0 4px;
  text-decoration: line-through;
}

.kris-shop-miles {
  color: #787878;
  font-size: 12px;
  font-weight: 400;
  margin: 0 16px;
  text-align: center;
}

.product-slider-item:hover .product-info-wrapper {
  border-top: 2px solid #000;
}

.product-slider-item:hover .product-image img {
  transform: perspective(1000px) translateZ(45px);
}

.products-slider .flickity-prev-next-button {
  background: none;
  outline: none;
}

.products-slider .flickity-prev-next-button.previous {
  left: -10px;
}

.products-slider .flickity-prev-next-button.next {
  right: -10px;
}

.products-slider .flickity-prev-next-button:disabled {
  display: none;
}

.product-carousel-message {
  background: var(--light-color);
  color: var(--dark-color);
  font-size: var(--body-font-size-xs);
  margin: 0;
  padding: 24px;
}

@media (width >= 480px) {
  .products-slider {
    grid-auto-columns: 33.3333%;
  }

  .product-slider-item {
    width: 33.3333%;
  }
}

@media (width >= 768px) {
  .products-slider {
    grid-auto-columns: 25%;
  }

  .product-slider-item {
    width: 25%;
  }

  .product-compact-name {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (width >= 1025px) {
  .products-slider {
    grid-auto-columns: 20%;
    padding: 0 25px 16px;
  }

  .products-slider.product-carousel-flickity {
    padding: 0 25px 16px;
  }

  .product-slider-item {
    width: 20%;
  }

  .product-compact-name {
    height: 36px;
    line-height: 18px;
  }

  .product-image {
    margin: 24px 24px 16px;
    width: calc(100% - 48px);
  }

  .products-slider .flickity-prev-next-button.previous {
    left: -20px;
  }

  .products-slider .flickity-prev-next-button.next {
    right: -25px;
  }
}
